<!DOCTYPE html>
<html>
<head>
    <title>My first Vue app</title>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
    <script src="data/test.js"></script>
    <script src="data/hunt.js"></script>
</head>
<body>
<div id="app">
    <p>
        <router-link to="/5pm">Thời khắc đối đầu</router-link>
        <router-link to="/sumar">Bùa hiện thế</router-link>
        <router-link to="/hunt">Truy nã mật</router-link>
    </p>
    <router-view></router-view>
</div>
<button onclick="window.print()">Print this page</button>
<br>
<br>

<script>
    // const Foo = {template: '<div>foo</div>'}
    // const Bar = {template: '<div>bar</div>'}
    var data1 = {
            message: data,
            question: ''
        };
    var data2 = {
      hint : data_hunt,
        hint_keyword : ''
    };
    const FivePm = {
        template: '<div class="container">\n' +
        '        <h1 class="text-center">Mật thư thời khắc đối đầu</h1>\n' +
        '        <div class="row">\n' +
        '            <div class="text-center">\n' +
        '                <div style="width: 60%; margin: 0 auto">\n' +
        '                    <input v-model="question" placeholder="Enter keywords" class="form-control">\n' +
        '                </div>\n' +
        '            </div>\n' +
        '            <br/>\n' +
        '            <div class="table-responsive">\n' +
        '                <table class="table table-bordered table-hover" >\n' +
        '                    <thead>\n' +
        '                    <td>Câu hỏi</td>\n' +
        '                    <td width="20%">Đáp án</td>\n' +
        '                    </thead>\n' +
        '                    <tbody>\n' +
        '                    <tr v-for="item in message">\n' +
        '                        <td>{{item.question}}</td>\n' +
        '                        <td>{{item.answer}}</td>\n' +
        '                    </tr>\n' +
        '                    </tbody>\n' +
        '                </table>\n' +
        '            </div>\n' +
        '        </div></div>',
        data: function () {
            return data1
        },
            watch: {
                question: function () {
                    this.getAnswer(this.question.trim().toLowerCase());
                }
            },
            methods: {
                getAnswer: function (newQuest) {
                    var searching = [];
                    console.log('search ' + newQuest);
                    if (newQuest === '') {
                        this.message = data;
                    }
                    else {
                                data.forEach(function (value) {
                                    if (value.question.toLowerCase().indexOf(newQuest) !== -1) {
                                        searching.push(value);
                                    }
                                })
                        // console.log(searching);
                        this.message = searching;
                    }
                }
            }
    }
    const SummonAR = {
        template: '<div class="container">\n' +
        '<div class="row">\n' +
        '<div class="text-center">\n' +
        '<img width="400px" src="data/img/World_Summon_Symbol-1.png">\n' +
        '</div>\n' +
        '</div>\n' +
        '<br/><br/><br/><br/>\n' +
        '<div class="row">\n' +
        '<div class="text-center">\n' +
        '<img width="400px" src="data/img/World_Summon_Symbol-2.png">\n' +
        '</div>\n' +
        '</div>\n' +
        '</div>',

    }

    const Hunt = {
        template: '<div class="container">\n' +
        '        <h1 class="text-center">Truy nã mật</h1>\n' +
        '        <div class="row">\n' +
        '            <div class="text-center">\n' +
        '                <div style="width: 60%; margin: 0 auto">\n' +
        '                    <input v-model="hint_keyword" placeholder="Enter hint" class="form-control">\n' +
        '                </div>\n' +
        '            </div>\n' +
        '            <br/>\n' +
        '            <div class="table-responsive">\n' +
        '                <table class="table table-bordered table-hover" >\n' +
        '                    <thead>\n' +
        '                    <td>Câu hỏi</td>\n' +
        '                    <td width="30%">Đáp án</td>\n' +
        '                    <td width="30%">Địa điểm</td>\n' +
        '                    </thead>\n' +
        '                    <tbody>\n' +
        '                    <tr v-for="item in hint">\n' +
        '                        <td>{{item.hint}}</td>\n' +
        '                        <td>{{item.answer}}</td>\n' +
        '                        <td>{{item.locate}}</td>\n' +
        '                    </tr>\n' +
        '                    </tbody>\n' +
        '                </table>\n' +
        '            </div>\n' +
        '        </div></div>',
        data: function () {
            return data2
        },
        watch: {
            hint_keyword: function () {
                this.getAnswer(this.hint_keyword.trim().toLowerCase());
            }
        },
        methods: {
            getAnswer: function (newQuest) {
                var searching = [];
                console.log('search ' + newQuest);
                if (newQuest === '') {
                    this.hint = data_hunt;
                }
                else {
                    data_hunt.forEach(function (value) {
                        if (value.hint.toLowerCase().indexOf(newQuest) !== -1) {
                            searching.push(value);
                        }
                    })
                    // console.log(searching);
                    this.hint = searching;
                }
            }
        }
    }

    const routes = [
        {path: '/5pm', component: FivePm},
        {path: '/sumar', component: SummonAR},
        {path: '/hunt', component: Hunt}
    ]

    const router = new VueRouter({
        routes // short for `routes: routes`
    })

    var app = new Vue({
        router
  //      router,
        // el: '#app',
        // data: {
        //     message: data,
        //     question: ''
        // },
    //     watch: {
    //         question: function () {
    //             this.getAnswer(this.question.trim().toLowerCase());
    //         }
    //     },
    //     methods: {
    //         getAnswer: function (newQuest) {
    //             var searching = [];
    //             console.log('search ' + newQuest);
    //             if (newQuest === '') {
    //                 this.message = data;
    //             }
    //             else {
    //                 var after_split_quest = newQuest.split(' ');
    //                 for (var i = 0; i < after_split_quest.length; i++) {
    //                     if (after_split_quest[i] !== '') {
    //                         data.forEach(function (value) {
    //                             if (value.question.toLowerCase().indexOf(after_split_quest[i]) !== -1) {
    //                                 console.log(1);
    //                                 searching.push(value);
    //                             }
    //                         })
    //                     }
    //                 }
    //                 console.log(searching);
    //                 this.message = searching;
    //             }
    //         }
    //     }
    }).$mount('#app')
</script>
</body>
</html>