<!DOCTYPE html>
<html>

<head>
	<title>Đấu trường chân lý - Team Fight Tactics</title>
	<meta charset="UTF-8">
	<!-- Primary Meta Tags -->
	<meta name="title" content="Đấu trường chân lý - Team Fight Tactics">
	<meta name="description" content="">

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://trunghieuit95.github.io/dtcl/">
	<meta property="og:title" content="Đấu trường chân lý - Team Fight Tactics">
	<meta property="og:description" content="">
	<meta property="og:image" content="https://trunghieuit95.github.io/dtcl/data/img/logo-hero-vn.png">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
		integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
	<script src="https://unpkg.com/vue"></script>
	<script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
	<script src="data/test.js"></script>
	<script src="data/hero.js"></script>
	<script src="data/item.js"></script>
	<style>
		body {
			background: #000;
			color: white;
		}

		h1 {
			color: aliceblue;
			text-align: center;
		}

		table tr td {
			text-transform: capitalize
		}

		svg {
			width: 30%;
		}

		.hex {
			stroke-width: 2;
			stroke: #999;
			fill-opacity: 0.6;
			transition: fill-opacity .8s;
		}

		.hex-t1 {
			stroke-width: 2;
			stroke: #fff;
		}

		.hex-t2 {
			stroke-width: 2;
			stroke: green;
		}

		.hex-t3 {
			stroke-width: 2;
			stroke: cyan;
		}

		.hex-t4 {
			stroke-width: 2;
			stroke: purple;
		}

		.hex-t5 {
			stroke-width: 2;
			stroke: orange;
		}

		.text-price {
			fill: white;
		}

		.specific-buff .specific-title-buff {
			background: burlywood;
			color: maroon;
			padding: 5px 5px;
			border-radius: 5px;
		}

		.specific-buff p {
			margin-top: 10px;
			text-align: justify;
			color: powderblue;
		}

		.class-buff .class-title-buff {
			background: darkred;
			color: aliceblue;
			padding: 5px 5px;
			border-radius: 5px;
		}

		.class-buff p {
			margin-top: 10px;
			text-align: justify;
			color: powderblue;
		}

		.avt-t1 {
			border: 1px solid #fff;
			border-radius: 5px;
			margin-bottom: 5px;
		}

		.avt-t2 {
			border: 1px solid green;
			border-radius: 5px;
			margin-bottom: 5px;
		}

		.avt-t3 {
			border: 1px solid cyan;
			border-radius: 5px;
			margin-bottom: 5px;
		}

		.avt-t4 {
			border: 1px solid purple;
			border-radius: 5px;
			margin-bottom: 5px;
		}

		.avt-t5 {
			border: 1px solid orange;
			border-radius: 5px;
			margin-bottom: 5px;
		}

		footer {
			text-align: center;
			margin: 100px 0;
			color: darkorchid;
			border-top: 1px solid;
			padding: 10px;
			text-transform: capitalize;
		}

		.buff-active {
			font-weight: bold;
		}

		.buff-inactive {
			color: #999 !important;
			font-weight: lighter;
		}

		#items img {
			border: 1px solid blanchedalmond;
		}

		#items .combinded-item img {
			margin-top: 5px;
			margin-left: 5px;
			margin-right: 5px;
		}

		#wiki ul li {
			text-align: center;
			font-size: x-large;
			font-weight: bold;
			color: cornflowerblue;
		}

		.button-show-buff {
			width: 100%;
			background: #000000;
			border: none;
			border-bottom: 1px solid crimson;
			border-radius: 0px 0px 30px 30px;
			height: 40px;
			font-size: large;
		}
		.buff-info {
			margin-top: 20px;
			border-top: 1px solid crimson;
			border-radius: 30px;
		}
	</style>
</head>

<body>
	<p class="text-center"><img src="data/img/logo-hero-vn.png" width="30%"></p>
	<!-- <h1>Đấu trường chân lý</h1> -->

	<div id="app">
		<div class="container">
			<div class="row">
				<div id="my-synergy" class="col-md-4">
					<h2 class="text-center">Đội hình của bạn</h2>
					<!-- <div v-for="hero in heroes"> -->
					<svg v-for="(hero, index) in heroes" viewbox="0 0 100 100" version="1.1"
						xmlns="http://www.w3.org/2000/svg" v-on:click="removeData(index,hero.cId,hero.sId)">
						<defs v-if="hero.heroId!=-1">
							<pattern v-bind:id="'img'+index" patternUnits="userSpaceOnUse" width="100" height="100">
								<image v-bind:xlink:href="hero.avartar" x="0" width="100" height="100" />
							</pattern>
						</defs>
						<!-- <polygon class="hex" points="50 1 95 25 95 75 50 99 5 75 5 25" fill="url(#img)"/> -->
						<polygon v-if="hero.heroId!=-1" v-bind:class="[hero.tier ? 0 : hex , 'hex-t'+hero.tier]"
							points="50 1 95 25 95 75 50 99 5 75 5 25" v-bind:fill="'url(#img'+index+')'" />
						<polygon v-if="hero.heroId==-1" class="hex" points="50 1 95 25 95 75 50 99 5 75 5 25"
							fill="#333" />
						<text v-if="hero.tier!=0 && hero.heroId!=-1" class="text-price" font-size="15" x="50" y="90"
							text-anchor="middle">${{hero.tier}}</text>
					</svg>
					<!-- </div> -->
					<div class="buff-info">
						<h3 class="text-center">Sức mạnh đội hình</h3>
						<!-- specific -->
						<div class="specific-buff" v-if="specific[0]>=2">
							<span class="specific-title-buff">Ác quỷ - Demon <span>({{specific[0]}})</span>
								<!-- <span v-if="specific[0]>=2 && specific[0]<4">(2)</span><span v-if="specific[0]>=4 && specific[0]<6">(4)</span><span v-if="specific[0]>=6">(6)</span> -->
							</span>
							<p>Đòn đánh có của ác quỷ có tỉ lệ đốt năng lượng và gây sát thương chuẩn tương ứng</p>
							<p v-bind:class="(specific[0]>=2 && specific[0]<4) ? 'buff-active' : 'buff-inactive'">(2)
								40% tỉ lệ đốt năng lượng</p>
							<p v-bind:class="(specific[0]>=4 && specific[0]<6) ? 'buff-active' : 'buff-inactive'">(4)
								60% tỉ lệ đốt năng lượng</p>
							<p v-bind:class="(specific[0]>=6) ? 'buff-active' : 'buff-inactive'">(6) 80% tỉ lệ đốt năng
								lượng</p>
						</div>
						<div class="specific-buff" v-if="specific[1]==2">
							<span class="specific-title-buff">Rồng - Dragon <span>({{specific[1]}})</span></span>
							<p>Khi hai tướng rồng xuất hiện trong đội hình, chúng sẽ được miễn nhiễm sát thương phép.
							</p>
						</div>
						<div class="specific-buff" v-if="specific[2]==1">
							<span class="specific-title-buff">Độc hành - Exile
								<span><span>({{specific[2]}})</span></span></span>
							<p>Các Độc Hành bắt đầu trận đấu với một lá chắn bằng 100% máu tối đa nếu như không có bất
								kì vị tướng nào kề cận họ khi trận chiến bắt đầu.</p>
						</div>
						<div class="specific-buff" v-if="specific[3]>=2">
							<span class="specific-title-buff">Băng quốc - Gracial <span>({{specific[3]}})</span>
								<!-- <span v-if="specific[3]>=2 && specific[3]<4">(2)</span><span v-if="specific[3]>=4 && specific[3]<6">(4)</span><span v-if="specific[3]>=6">(6)</span> -->
							</span>
							<p>Đòn đánh của băng quốc có tỉ lệ làm choáng 2 giấy</p>
							<p v-bind:class="(specific[3]>=2 && specific[3]<4) ? 'buff-active' : 'buff-inactive'">(2)
								20% tỉ lệ choáng</p>
							<p v-bind:class="(specific[3]>=4 && specific[3]<6) ? 'buff-active' : 'buff-inactive'">(4)
								30% tỉ lệ choáng</p>
							<p v-bind:class="(specific[3]>=6) ? 'buff-active' : 'buff-inactive'">(6) 45% tỉ lệ choáng
							</p>
						</div>
						<div class="specific-buff" v-if="specific[4]==1">
							<span class="specific-title-buff">Người máy - Robot <span>({{specific[4]}})</span></span>
							<p>Người Máy sẽ bắt đầu trận chiến với đầy bình năng lượng.</p>
						</div>
						<div class="specific-buff" v-if="specific[5]>=2">
							<span class="specific-title-buff">Đế chế - Imperial <span>({{specific[5]}})</span>
								<!-- <span v-if="specific[5]>=2 && specific[5]<4">(2)</span><span v-if="specific[5]==4">(4)</span> -->
							</span>
							<p>Gây gấp đôi sát thương</p>
							<p v-bind:class="(specific[5]>=2 && specific[5]<4) ? 'buff-active' : 'buff-inactive'">(2) 1
								đế chế ngẫu nhiên</p>
							<p v-bind:class="(specific[5]>=4) ? 'buff-active' : 'buff-inactive'">(4) Tất cả đế chế</p>
						</div>
						<div class="specific-buff" v-if="specific[6]>=3">
							<span class="specific-title-buff">Quý tộc - Noble <span>({{specific[6]}})</span>
								<!-- <span v-if="specific[6]>=3 && specific[6]<6">(3)</span><span v-if="specific[6]==6">(6)</span> -->
							</span>
							<p>cộng 100 giáp và hồi 35 máu mỗi đòn đánh</p>
							<p v-bind:class="(specific[6]>=3 && specific[6]<6) ? 'buff-active' : 'buff-inactive'">(3) 1
								đồng minh ngẫu nhiên</p>
							<p v-bind:class="(specific[6]>=6) ? 'buff-active' : 'buff-inactive'">(6) Tất cả đồng minh
							</p>
						</div>
						<div class="specific-buff" v-if="specific[7]==1 || specific[7]==4">
							<span class="specific-title-buff">Nhẫn giả - Ninja <span>({{specific[7]}})</span>
								<!-- <span v-if="specific[7]==1">(1)</span><span v-if="specific[7]==4">(4)</span> -->
							</span>
							<p v-bind:class="(specific[7]==1) ? 'buff-active' : 'buff-inactive'">(1) Cộng 40% sát thương
								đòn đánh</p>
							<p v-bind:class="(specific[7]==4) ? 'buff-active' : 'buff-inactive'">(4) Tất cả nhẫn giả
								Cộng 80% sát thương đòn đánh</p>
						</div>
						<div class="specific-buff" v-if="specific[8]>=3">
							<span class="specific-title-buff">Hải tặc - Pirate <span>({{specific[8]}})</span></span>
							<p>Kiếm thêm tối đa 4 vàng khi giao chiến với người chơi khác</p>
						</div>
						<div class="specific-buff" v-if="specific[9]>=2">
							<span class="specific-title-buff">Ma - Phantom <span>({{specific[9]}})</span></span>
							<p>Ngẫu nhiên nguyền rủa 1 kẻ địch khiến máu kẻ đó còn 100</p>
						</div>
						<div class="specific-buff" v-if="specific[10]>=2">
							<span class="specific-title-buff">Hoang dã - Wild <span>({{specific[10]}})</span>
								<!-- <span v-if="specific[10]>=2 && specific[10]<4">(2)</span><span v-if="specific[10]>=4">(4)</span> -->
							</span>
							<p>Đòn đánh tích nộ (tối đa 5 nộ), mỗi nộ cho 7 tốc đánh</p>
							<p v-bind:class="(specific[10]>=2 && specific[10]<4) ? 'buff-active' : 'buff-inactive'">(2)
								Chỉ đồng minh Hoang dã</p>
							<p v-bind:class="(specific[10]>=4) ? 'buff-active' : 'buff-inactive'">(4) Toàn bộ đồng minh
							</p>
						</div>
						<div class="specific-buff" v-if="specific[11]>=3">
							<span class="specific-title-buff">Hư không - Void <span>({{specific[11]}})</span></span>
							<p>Tất cả đòn đánh bỏ qua 50% giáp của kẻ địch</p>
						</div>
						<div class="specific-buff" v-if="specific[12]>=3">
							<span class="specific-title-buff">Yordle <span>({{specific[12]}})</span>
								<!-- <span v-if="specific[12]>=3 && specific[12]<6">(3)</span><span v-if="specific[12]>=6">(6)</span> -->
							</span>
							<p>Đòn đánh lên Yordle có tỉ lệ trượt</p>
							<p v-bind:class="(specific[12]>=3 && specific[12]<6) ? 'buff-active' : 'buff-inactive'">(3)
								25% tỉ lệ trượt</p>
							<p v-bind:class="(specific[12]>=6) ? 'buff-active' : 'buff-inactive'">(6) 60% tỉ lệ trượt
							</p>
						</div>
						<!-- class -->
						<div class="class-buff" v-if="classPassive[0]>=3">
							<span class="class-title-buff">Sát thủ - Assassin <span>({{classPassive[0]}})</span>
								<!-- <span v-if="classPassive[0]>=3 && classPassive[0]<6">(3)</span><span v-if="classPassive[0]>=6">(6)</span> -->
							</span>
							<p>Sát thủ có thêm sát thương chí mạng</p>
							<p
								v-bind:class="(classPassive[0]>=3 && classPassive[0]<6) ? 'buff-active' : 'buff-inactive'">
								(3) +150% sát thương chí mạng</p>
							<p v-bind:class="(classPassive[0]>=6) ? 'buff-active' : 'buff-inactive'">(6) +350% sát
								thương chí mạng</p>
						</div>
						<div class="class-buff" v-if="classPassive[1]>=3">
							<span class="class-title-buff">Kiếm khách - Baldemaster <span>({{classPassive[1]}})</span>
								<!-- <span v-if="classPassive[1]>=3 && classPassive[1]<6">(3)</span><span v-if="classPassive[1]>=6">(6)</span> -->
							</span>
							<p>Kiếm khách có 45% tỉ lệ đánh thêm lần nữa</p>
							<p
								v-bind:class="(classPassive[1]>=3 && classPassive[1]<6) ? 'buff-active' : 'buff-inactive'">
								(3) thêm 1 lần đánh</p>
							<p v-bind:class="(classPassive[1]>=6) ? 'buff-active' : 'buff-inactive'">(6) thêm 2 lần đánh
							</p>
						</div>
						<div class="class-buff" v-if="classPassive[2]>=2">
							<span class="class-title-buff">Đấu sĩ - Brawler <span>({{classPassive[2]}})</span>
								<!-- <span v-if="classPassive[2]>=2 && classPassive[2]<4">(2)</span><span v-if="classPassive[2]>=4">(4)</span> -->
							</span>
							<p>Đấu sĩ có thêm máu tối đa</p>
							<p
								v-bind:class="(classPassive[2]>=2 && classPassive[2]<4) ? 'buff-active' : 'buff-inactive'">
								(2) 300 máu</p>
							<p v-bind:class="(classPassive[2]>=4) ? 'buff-active' : 'buff-inactive'">(4) 700 máu</p>
						</div>
						<div class="class-buff" v-if="classPassive[3]>=3">
							<span class="class-title-buff">Nguyên tố - Elementalist
								<span>({{classPassive[3]}})</span></span>
							<p>Nhận gấp đôi năng lượng từ đòn đánh</p>
							<p>(3) lúc bắt đầu giao chiến triệu hồi 1 người đá</p>
						</div>
						<div class="class-buff" v-if="classPassive[4]>=2">
							<span class="class-title-buff">Hộ vệ - Guardian <span>({{classPassive[4]}})</span></span>
							<p>Hai Hộ Vệ trong đội hình sẽ tăng giáp cho chính họ và những đồng mình đứng xung quanh họ
								khi trận chiến bắt đầu.</p>
						</div>
						<div class="class-buff" v-if="classPassive[5]>=2">
							<span class="class-title-buff">Xạ thủ - Gunslinger <span>({{classPassive[5]}})</span>
								<!-- <span v-if="classPassive[5]>=2 && classPassive[5]<4">(2)</span><span v-if="classPassive[5]>=4">(4)</span><span v-if="classPassive[5]>=6">(6)</span> -->
							</span>
							<p>Sau khi tấn công xạ thủ 50% tỉ lệ đánh thêm</p>
							<p
								v-bind:class="(classPassive[5]>=2 && classPassive[5]<4) ? 'buff-active' : 'buff-inactive'">
								(2) bắn 1 kẻ địch ngẫu nhiên</p>
							<p v-bind:class="(classPassive[5]>=4) ? 'buff-active' : 'buff-inactive'">(4) bắn tất cả kẻ
								địch trong tầm</p>
						</div>
						<div class="class-buff" v-if="classPassive[6]>=2">
							<span class="class-title-buff">Hiệp sĩ - Knight <span>({{classPassive[6]}})</span>
								<!-- <span v-if="classPassive[6]>=2 && classPassive[6]<4">(2)</span><span v-if="classPassive[6]>=4 && classPassive[6]<6">(4)</span><span v-if="classPassive[6]>=6">(6)</span> -->
							</span>
							<p>Chặn sát thương từ đòn đánh</p>
							<p
								v-bind:class="(classPassive[6]>=2 && classPassive[6]<4) ? 'buff-active' : 'buff-inactive'">
								(2) 20 sát thương chặn được</p>
							<p
								v-bind:class="(classPassive[6]>=4 && classPassive[6]<6) ? 'buff-active' : 'buff-inactive'">
								(4) 40 sát thương chặn được</p>
							<p v-bind:class="(classPassive[6]>=6) ? 'buff-active' : 'buff-inactive'">(6) 80 sát thương
								chặn được</p>
						</div>
						<div class="class-buff" v-if="classPassive[7]>=2">
							<span class="class-title-buff">Cung thủ - Ranger <span>({{classPassive[7]}})</span>
								<!-- <span v-if="classPassive[7]>=2 && classPassive[7]<4">(2)</span><span v-if="classPassive[7]>=4">(4)</span> -->
							</span>
							<p>Cung thủ có tỉ lệ nhân đôi tốc độ đánh trong mỗi 3 giây, trong 3 giây kế tiếp</p>
							<p
								v-bind:class="(classPassive[7]>=2 && classPassive[7]<4) ? 'buff-active' : 'buff-inactive'">
								(2) 25% tỉ lệ nhân đôi tốc độ đánh</p>
							<p v-bind:class="(classPassive[7]>=4) ? 'buff-active' : 'buff-inactive'">(4) 65% tỉ lệ nhân
								đôi tốc độ đánh</p>
						</div>
						<div class="class-buff" v-if="classPassive[8]>=3">
							<span class="class-title-buff">Hóa hình - Shapeshifter
								<span>({{classPassive[8]}})</span></span>
							<p>Hóa hình được cộng máu khi biến đổi</p>
							<p>(3) 100% máu tối đa</p>
						</div>
						<div class="class-buff" v-if="classPassive[9]>=3">
							<span class="class-title-buff">Pháp sư - Sorcerer <span>({{classPassive[9]}})</span>
								<!-- <span v-if="classPassive[9]>=3 && classPassive[9]<6">(3)</span><span v-if="classPassive[9]>=6">(6)</span> -->
							</span>
							<p>Pháp sư được tăng gấp đôi năng lượng từ đòn đánh, đồng minh được tăng sát thương kỹ năng
							</p>
							<p
								v-bind:class="(classPassive[9]>=3 && classPassive[9]<6) ? 'buff-active' : 'buff-inactive'">
								(3) 35% sát thương kỹ năng</p>
							<p v-bind:class="(classPassive[9]>=6) ? 'buff-active' : 'buff-inactive'">(6) 100% sát thương
								kỹ năng</p>
						</div>
						<hr>
						<div class="buff-nonactive" v-if="displayBuffNonactive">
							<h4 class="text-center">Buff chưa kích hoạt</h4>
							<div class="specific-buff" v-if="specific[0]<2 && specific[0]>0">
								<span class="specific-title-buff">Ác quỷ - Demon <span>({{specific[0]}})</span></span>
								<p>Đòn đánh có của ác quỷ có tỉ lệ đốt năng lượng và gây sát thương chuẩn tương ứng</p>
								<p class="buff-inactive">(2) 40% tỉ lệ đốt năng lượng</p>
								<p class="buff-inactive">(4) 60% tỉ lệ đốt năng lượng</p>
								<p class="buff-inactive">(6) 80% tỉ lệ đốt năng lượng</p>
							</div>
							<div class="specific-buff" v-if="specific[1]==1">
								<span class="specific-title-buff">Rồng - Dragon <span>({{specific[1]}})</span></span>
								<p>Khi hai tướng rồng xuất hiện trong đội hình, chúng sẽ được miễn nhiễm sát thương
									phép.</p>
							</div>
							<div class="specific-buff" v-if="specific[3]==1">
								<span class="specific-title-buff">Băng quốc - Gracial
									<span>({{specific[3]}})</span></span>
								<p>Đòn đánh của băng quốc có tỉ lệ làm choáng 2 giấy</p>
								<p class="buff-inactive">(2) 20% tỉ lệ choáng</p>
								<p class="buff-inactive">(4) 30% tỉ lệ choáng</p>
								<p class="buff-inactive">(6) 45% tỉ lệ choáng</p>
							</div>
							<div class="specific-buff" v-if="specific[5]==1">
								<span class="specific-title-buff">Đế chế - Imperial
									<span>({{specific[5]}})</span></span>
								<p>Gây gấp đôi sát thương</p>
								<p class="buff-inactive">(2) 1 đế chế ngẫu nhiên</p>
								<p class="buff-inactive">(4) Tất cả đế chế</p>
							</div>
							<div class="specific-buff" v-if="specific[6]<3 && specific[6]>0">
								<span class="specific-title-buff">Quý tộc - Noble <span>({{specific[6]}})</span></span>
								<p>cộng 100 giáp và hồi 35 máu mỗi đòn đánh</p>
								<p class="buff-inactive">(3) 1 đồng minh ngẫu nhiên</p>
								<p class="buff-inactive">(6) Tất cả đồng minh</p>
							</div>
							<div class="specific-buff" v-if="specific[7]<4 && specific[7]>1">
								<span class="specific-title-buff">Nhẫn giả - Ninja <span>({{specific[7]}})</span></span>
								<p class="buff-inactive">(1) Cộng 40% sát
									thương đòn đánh</p>
								<p class="buff-inactive">(4) Tất cả nhẫn giả
									Cộng 80% sát thương đòn đánh</p>
							</div>
							<div class="specific-buff" v-if="specific[8]<3 && specific[8]>0">
								<span class="specific-title-buff">Hải tặc - Pirate <span>({{specific[8]}})</span></span>
								<p class="buff-inactive">Kiếm thêm tối đa 4 vàng khi giao chiến với người chơi khác</p>
							</div>
							<div class="specific-buff" v-if="specific[9]==1">
								<span class="specific-title-buff">Ma - Phantom <span>({{specific[9]}})</span></span>
								<p class="buff-inactive">Ngẫu nhiên nguyền rủa 1 kẻ địch khiến máu kẻ đó còn 100</p>
							</div>
							<div class="specific-buff" v-if="specific[10]==1">
								<span class="specific-title-buff">Hoang dã - Wild <span>({{specific[10]}})</span>
								</span>
								<p>Đòn đánh tích nộ (tối đa 5 nộ), mỗi nộ cho 7 tốc đánh</p>
								<p class="buff-inactive">(2) Chỉ đồng minh Hoang dã</p>
								<p class="buff-inactive">(4) Toàn bộ đồng minh</p>
							</div>
							<div class="specific-buff" v-if="specific[11]<3 && specific[11]>0">
								<span class="specific-title-buff">Hư không - Void <span>({{specific[11]}})</span></span>
								<p class="buff-inactive">Tất cả đòn đánh bỏ qua 50% giáp của kẻ địch</p>
							</div>
							<div class="specific-buff" v-if="specific[12]<3 && specific[12]>0">
								<span class="specific-title-buff">Yordle <span>({{specific[12]}})</span>
								</span>
								<p>Đòn đánh lên Yordle có tỉ lệ trượt</p>
								<p class="buff-inactive">(3) 25% tỉ lệ trượt</p>
								<p class="buff-inactive">(6) 60% tỉ lệtrượt</p>
							</div>
						</div>
						<!-- buff class nonactive -->
						<div class="class-buff" v-if="classPassive[0]<3 && classPassive[0]>0">
							<span class="class-title-buff">Sát thủ - Assassin <span>({{classPassive[0]}})</span>
							</span>
							<p>Sát thủ có thêm sát thương chí mạng</p>
							<p class="buff-inactive">(3) +150% sát thương chí mạng</p>
							<p class="buff-inactive">(6) +350% sátthương chí mạng</p>
						</div>
						<div class="class-buff" v-if="classPassive[1]>0 && classPassive[1]<3">
							<span class="class-title-buff">Kiếm khách - Baldemaster
								<span>({{classPassive[1]}})</span></span>
							<p>Kiếm khách có 45% tỉ lệ đánh thêm lần nữa</p>
							<p class="buff-inactive">(3) thêm 1 lần đánh</p>
							<p class="buff-inactive">(6) thêm 2 lần đánh</p>
						</div>
						<div class="class-buff" v-if="classPassive[2]==1">
							<span class="class-title-buff">Đấu sĩ - Brawler <span>({{classPassive[2]}})</span></span>
							<p>Đấu sĩ có thêm máu tối đa</p>
							<p class="buff-inactive">(2) 300 máu</p>
							<p class="buff-inactive">(4) 700 máu</p>
						</div>
						<div class="class-buff" v-if="classPassive[3]>0 && classPassive[3]<3">
							<span class="class-title-buff">Nguyên tố -
								Elementalist<span>({{classPassive[3]}})</span></span>
							<p>Nhận gấp đôi năng lượng từ đòn đánh</p>
							<p class="buff-inactive">(3) lúc bắt đầu giao chiến triệu hồi 1 người đá</p>
						</div>
						<div class="class-buff" v-if="classPassive[4]==1">
							<span class="class-title-buff">Hộ vệ - Guardian <span>({{classPassive[4]}})</span></span>
							<p class="buff-inactive">Hai Hộ Vệ trong đội hình sẽ tăng giáp cho chính họ và những đồng
								mình đứng xung quanh họ
								khi trận chiến bắt đầu.</p>
						</div>
						<div class="class-buff" v-if="classPassive[5]==1">
							<span class="class-title-buff">Xạ thủ - Gunslinger <span>({{classPassive[5]}})</span></span>
							<p>Sau khi tấn công xạ thủ 50% tỉ lệ đánh thêm</p>
							<p class="buff-inactive">(2) bắn 1 kẻ địch ngẫu nhiên</p>
							<p class="buff-inactive">(4) bắn tất cả kẻ địch trong tầm</p>
						</div>
						<div class="class-buff" v-if="classPassive[6]==1">
							<span class="class-title-buff">Hiệp sĩ - Knight <span>({{classPassive[6]}})</span></span>
							<p>Chặn sát thương từ đòn đánh</p>
							<p class="buff-inactive">(2) 20 sát thương chặn được</p>
							<p class="buff-inactive">(4) 40 sát thương chặn được</p>
							<p class="buff-inactive">(6) 80 sát thương chặn được</p>
						</div>
						<div class="class-buff" v-if="classPassive[7]==1">
							<span class="class-title-buff">Cung thủ - Ranger <span>({{classPassive[7]}})</span>
							</span>
							<p>Cung thủ có tỉ lệ nhân đôi tốc độ đánh trong mỗi 3 giây, trong 3 giây kế tiếp</p>
							<p class="buff-inactive">(2) 25% tỉ lệ nhân đôi tốc độ đánh</p>
							<p class="buff-inactive">(4) 65% tỉ lệ nhân đôi tốc độ đánh</p>
						</div>
						<div class="class-buff" v-if="classPassive[8]<3 && classPassive[8]>0">
							<span class="class-title-buff">Hóa hình -
								Shapeshifter<span>({{classPassive[8]}})</span></span>
							<p>Hóa hình được cộng máu khi biến đổi</p>
							<p class="buff-inactive">(3) 100% máu tối đa</p>
						</div>
						<div class="class-buff" v-if="classPassive[9]<3 && classPassive[9]>0">
							<span class="class-title-buff">Pháp sư - Sorcerer <span>({{classPassive[9]}})</span></span>
							<p>Pháp sư được tăng gấp đôi năng lượng từ đòn đánh, đồng minh được tăng sát thương kỹ năng
							</p>
							<p class="buff-inactive">(3) 35% sát thương kỹ năng</p>
							<p class="buff-inactive">(6) 100% sát thương kỹ năng</p>
						</div>
						<p class="text-center">
							<button class="button-show-buff" v-on:click="showBuffNonactive()" v-if="!displayBuffNonactive">Hiện buff chưa kích hoạt</button>
							<button class="button-show-buff" v-on:click="showBuffNonactive()" v-if="displayBuffNonactive">Ẩn buff chưa kích hoạt</button>
						</p>
					</div>
				</div>
				<div id="wiki" class="col-md-8">
					<ul class="nav nav-tabs">
						<li class="active" style="width: 50%"><a data-toggle="tab" href="#champions">Tướng</a></li>
						<li style="width: 50%"><a data-toggle="tab" href="#items">Trang bị</a></li>
					</ul>
					<div class="tab-content">
						<div id="champions" class="tab-pane fade in active">
							<table class="table">
								<tr>
									<td rowspan="2" colspan="2">
										<!-- <img src="data/img/logo-hero.png" width="30%"> -->
									</td>
									<td colspan="10">Hệ</td>
								</tr>
								<tr>
									<td>Sát thủ<img src="data/img/class_icon/assassin.png"></td>
									<td>k.khách<img src="data/img/class_icon/blademaster.png"></td>
									<td>đấu sĩ<img src="data/img/class_icon/brawler.png"></td>
									<td>n.tố<img src="data/img/class_icon/elementalist.png"></td>
									<td>hộ vệ<img src="data/img/class_icon/guardian.png"></td>
									<td>x.thủ<img src="data/img/class_icon/gunslinger.png"></td>
									<td>hiệp sĩ<img src="data/img/class_icon/knight.png"></td>
									<td>cung thủ<img src="data/img/class_icon/ranger.png"></td>
									<td>hóa hình<img src="data/img/class_icon/shapeshifter.png"></td>
									<td>pháp sư<img src="data/img/class_icon/sorcerer.png"></td>
								</tr>
								<tr>
									<td rowspan="13">Tộc</td>
									<td><img src="data/img/specific_icon/demon.png" width="45">Ác quỷ</td>
									<td><img v-on:click="addData(1,0,0)" src="data/img/champion/avatar/evelyn.png"
											class="avt-t2"></td>
									<td><img v-on:click="addData(0,1,0)" src="data/img/champion/avatar/aatrox.png"
											class="avt-t3"></td>
									<td></td>
									<td><img v-on:click="addData(2,3,0)" src="data/img/champion/avatar/brand.png"
											class="avt-t4"></td>
									<td></td>
									<td></td>
									<td></td>
									<td><img v-on:click="addData(3,7,0)" src="data/img/champion/avatar/varus.png"
											class="avt-t2"></td>
									<td>
										<img v-on:click="addData(4,8,0)" src="data/img/champion/avatar/elise.png"
											class="avt-t2">
										<img v-on:click="addData(5,8,[0,5])" src="data/img/champion/avatar/swain.png"
											class="avt-t5">
									</td>
									<td><img v-on:click="addData(6,9,0)" src="data/img/champion/avatar/morgana.png"
											class="avt-t3"></td>
								</tr>
								<tr>
									<td><img src="data/img/specific_icon/dragon.png" width="45">rồng</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td><img v-on:click="addData(7,8,1)" src="data/img/champion/avatar/shyvana.png"
											class="avt-t3"></td>
									<td><img v-on:click="addData(8,9,1)" src="data/img/champion/avatar/aurelionsol.png"
											class="avt-t4"></td>
								</tr>
								<tr>
									<td><img src="data/img/specific_icon/exile.png" width="45">độc hành</td>
									<td></td>
									<td><img v-on:click="addData(9,1,2)" src="data/img/champion/avatar/yasuo.png"
											class="avt-t5"></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td><img src="data/img/specific_icon/glacial.png" width="45">băng quốc</td>
									<td></td>
									<td></td>
									<td><img v-on:click="addData(10,2,3)" src="data/img/champion/avatar/volibear.png"
											class="avt-t3"></td>
									<td>
										<img v-on:click="addData(11,3,3)" src="data/img/champion/avatar/lissandra.png"
											class="avt-t2">
										<img v-on:click="addData(12,3,3)" src="data/img/champion/avatar/anivia.png"
											class="avt-t5">
									</td>
									<td><img v-on:click="addData(13,4,3)" src="data/img/champion/avatar/braum.png"
											class="avt-t2"></td>
									<td></td>
									<td><img v-on:click="addData(14,6,3)" src="data/img/champion/avatar/sejuani.png"
											class="avt-t4"></td>
									<td><img v-on:click="addData(15,7,3)" src="data/img/champion/avatar/ashe.png"
											class="avt-t3"></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td><img src="data/img/specific_icon/robot.png" width="45">người máy</td>
									<td></td>
									<td></td>
									<td><img v-on:click="addData(16,2,4)" src="data/img/champion/avatar/blitzcrank.png"
											class="avt-t2"></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td><img src="data/img/specific_icon/imperial.png" width="45">đế chế</td>
									<td><img v-on:click="addData(17,0,5)" src="data/img/champion/avatar/katarina.png"
											class="avt-t3"></td>
									<td><img v-on:click="addData(18,1,5)" src="data/img/champion/avatar/draven.png"
											class="avt-t4"></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td><img v-on:click="addData(19,6,5)" src="data/img/champion/avatar/draius.png"
											class="avt-t1"></td>
									<td></td>
									<td><img v-on:click="addData(5,8,[0,5])" src="data/img/champion/avatar/swain.png"
											class="avt-t5"></td>
									<td></td>
								</tr>
								<tr>
									<td><img src="data/img/specific_icon/noble.png" width="45">quý tộc</td>
									<td></td>
									<td><img v-on:click="addData(20,1,6)" src="data/img/champion/avatar/fiora.png"
											class="avt-t1"></td>
									<td></td>
									<td></td>
									<td><img v-on:click="addData(21,4,6)" src="data/img/champion/avatar/leona.png"
											class="avt-t4"></td>
									<td><img v-on:click="addData(22,5,6)" src="data/img/champion/avatar/lucian.png"
											class="avt-t2"></td>
									<td>
										<img v-on:click="addData(23,6,6)" src="data/img/champion/avatar/garen.png"
											class="avt-t1">
										<img v-on:click="addData(24,6,6)" src="data/img/champion/avatar/kayle.png"
											class="avt-t5">
									</td>
									<td><img v-on:click="addData(25,7,6)" src="data/img/champion/avatar/vayne.png"
											class="avt-t1"></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td><img src="data/img/specific_icon/ninja.png" width="45">nhẫn giả</td>
									<td>
										<img v-on:click="addData(26,0,7)" src="data/img/champion/avatar/akali.png"
											class="avt-t4">
										<img v-on:click="addData(27,0,7)" src="data/img/champion/avatar/zed.png"
											class="avt-t2">
									</td>
									<td><img v-on:click="addData(28,1,7)" src="data/img/champion/avatar/shen.png"
											class="avt-t2"></td>
									<td></td>
									<td><img v-on:click="addData(29,3,[7,12])" src="data/img/champion/avatar/kennen.png"
											class="avt-t3"></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td><img src="data/img/specific_icon/pirate.png" width="45">hải tặc</td>
									<td><img v-on:click="addData(30,0,8)" src="data/img/champion/avatar/pyke.png"
											class="avt-t2"></td>
									<td><img v-on:click="addData(31,[1,5],8)"
											src="data/img/champion/avatar/gangplank.png" class="avt-t3"></td>
									<td></td>
									<td></td>
									<td></td>
									<td>
										<img v-on:click="addData(32,5,8)" src="data/img/champion/avatar/missfortune.png"
											class="avt-t5">
										<img v-on:click="addData(33,5,8)" src="data/img/champion/avatar/graves.png"
											class="avt-t1">
										<img v-on:click="addData(31,[1,5],8)"
											src="data/img/champion/avatar/gangplank.png" class="avt-t3">
									</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td><img src="data/img/specific_icon/phantom.png" width="45">ma</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td><img v-on:click="addData(34,6,9)" src="data/img/champion/avatar/mordekaiser.png"
											class="avt-t1"></td>
									<td><img v-on:click="addData(35,7,9)" src="data/img/champion/avatar/kindred.png"
											class="avt-t4"></td>
									<td></td>
									<td><img v-on:click="addData(36,9,9)" src="data/img/champion/avatar/karthus.png"
											class="avt-t5"></td>
								</tr>
								<tr>
									<td><img src="data/img/specific_icon/wild.png" width="45">hoang dã</td>
									<td><img v-on:click="addData(37,0,10)" src="data/img/champion/avatar/rengar.png"
											class="avt-t3"></td>
									<td></td>
									<td><img v-on:click="addData(38,2,10)" src="data/img/champion/avatar/warwick.png"
											class="avt-t1"></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td>
										<img v-on:click="addData(39,8,10)" src="data/img/champion/avatar/nidalee.png"
											class="avt-t1">
										<img v-on:click="addData(40,8,[10,12])" src="data/img/champion/avatar/gnar.png"
											class="avt-t4">
									</td>
									<td><img v-on:click="addData(41,9,10)" src="data/img/champion/avatar/ahri.png"
											class="avt-t2"></td>
								</tr>
								<tr>
									<td><img src="data/img/specific_icon/void.png" width="45">hư không</td>
									<td><img v-on:click="addData(42,0,11)" src="data/img/champion/avatar/khazix.png"
											class="avt-t1"></td>
									<td></td>
									<td>
										<img v-on:click="addData(43,2,11)" src="data/img/champion/avatar/reksai.png"
											class="avt-t2">
										<img v-on:click="addData(44,2,11)" src="data/img/champion/avatar/chogath.png"
											class="avt-t4">
									</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td><img v-on:click="addData(45,9,11)" src="data/img/champion/avatar/kassadin.png"
											class="avt-t1"></td>
								</tr>
								<tr>
									<td><img src="data/img/specific_icon/yordle.png" width="45">yordle</td>
									<td></td>
									<td></td>
									<td></td>
									<td><img v-on:click="addData(29,3,[7,12])" src="data/img/champion/avatar/kennen.png"
											class="avt-t3"></td>
									<td></td>
									<td><img v-on:click="addData(46,5,12)" src="data/img/champion/avatar/tristana.png"
											class="avt-t1"></td>
									<td><img v-on:click="addData(47,6,12)" src="data/img/champion/avatar/poppy.png"
											class="avt-t3"></td>
									<td></td>
									<td><img v-on:click="addData(40,8,[10,12])" src="data/img/champion/avatar/gnar.png"
											class="avt-t4"></td>
									<td>
										<img v-on:click="addData(48,9,12)" src="data/img/champion/avatar/lulu.png"
											class="avt-t2">
										<img v-on:click="addData(49,9,12)" src="data/img/champion/avatar/veigar.png"
											class="avt-t2">
									</td>
								</tr>
							</table>
						</div>
						<div id="items" class="tab-pane fade">
							<table class="table">
								<tr>
									<td></td>
									<td><img v-on:click="pickItem(6)" src="data/img/item/base_items/b7.png" /></td>
									<td><img v-on:click="pickItem(2)" src="data/img/item/base_items/b3.png" /></td>
									<td><img v-on:click="pickItem(4)" src="data/img/item/base_items/b5.png" /></td>
									<td><img v-on:click="pickItem(1)" src="data/img/item/base_items/b2.png" /></td>
									<td><img v-on:click="pickItem(7)" src="data/img/item/base_items/b8.png" /></td>
									<td><img v-on:click="pickItem(3)" src="data/img/item/base_items/b4.png" /></td>
									<td><img v-on:click="pickItem(5)" src="data/img/item/base_items/b6.png" /></td>
									<td><img v-on:click="pickItem(0)" src="data/img/item/base_items/b1.png" /></td>
								</tr>
								<tr>
									<td><img v-on:click="pickItem(0)" src="data/img/item/base_items/b1.png" /></td>
									<td><img v-on:click="pickItem(40)" src="data/img/item/combined_items/c33.png" />
									</td>
									<td><img v-on:click="pickItem(42)" src="data/img/item/combined_items/c35.png" />
									</td>
									<td><img v-on:click="pickItem(9)" src="data/img/item/combined_items/c2.png" /></td>
									<td><img v-on:click="pickItem(16)" src="data/img/item/combined_items/c9.png" /></td>
									<td><img v-on:click="pickItem(33)" src="data/img/item/combined_items/c26.png" />
									</td>
									<td><img v-on:click="pickItem(18)" src="data/img/item/combined_items/c11.png" />
									</td>
									<td><img v-on:click="pickItem(36)" src="data/img/item/combined_items/c29.png" />
									</td>
									<td><img v-on:click="pickItem(20)" src="data/img/item/combined_items/c13.png" />
									</td>
								</tr>
								<tr>
									<td><img v-on:click="pickItem(5)" src="data/img/item/base_items/b6.png" /></td>
									<td><img v-on:click="pickItem(8)" src="data/img/item/combined_items/c1.png" /></td>
									<td><img v-on:click="pickItem(38)" src="data/img/item/combined_items/c31.png" />
									</td>
									<td><img v-on:click="pickItem(10)" src="data/img/item/combined_items/c3.png" /></td>
									<td><img v-on:click="pickItem(26)" src="data/img/item/combined_items/c19.png" />
									</td>
									<td><img v-on:click="pickItem(34)" src="data/img/item/combined_items/c27.png" />
									</td>
									<td><img v-on:click="pickItem(17)" src="data/img/item/combined_items/c10.png" />
									</td>
									<td><img v-on:click="pickItem(28)" src="data/img/item/combined_items/c21.png" />
									</td>
									<td></td>
								</tr>
								<tr>
									<td><img v-on:click="pickItem(3)" src="data/img/item/base_items/b4.png" /></td>
									<td><img v-on:click="pickItem(41)" src="data/img/item/combined_items/c34.png" />
									</td>
									<td><img v-on:click="pickItem(25)" src="data/img/item/combined_items/c18.png" />
									</td>
									<td><img v-on:click="pickItem(21)" src="data/img/item/combined_items/c14.png" />
									</td>
									<td><img v-on:click="pickItem(23)" src="data/img/item/combined_items/c16.png" />
									</td>
									<td><img v-on:click="pickItem(24)" src="data/img/item/combined_items/c17.png" />
									</td>
									<td><img v-on:click="pickItem(27)" src="data/img/item/combined_items/c20.png" />
									</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td><img v-on:click="pickItem(7)" src="data/img/item/base_items/b8.png" /></td>
									<td><img v-on:click="pickItem(11)" src="data/img/item/combined_items/c4.png" /></td>
									<td><img v-on:click="pickItem(30)" src="data/img/item/combined_items/c23.png" />
									</td>
									<td><img v-on:click="pickItem(19)" src="data/img/item/combined_items/c12.png" />
									</td>
									<td><img v-on:click="pickItem(15)" src="data/img/item/combined_items/c8.png" /></td>
									<td><img v-on:click="pickItem(32)" src="data/img/item/combined_items/c25.png" />
									</td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td><img v-on:click="pickItem(1)" src="data/img/item/base_items/b2.png" /></td>
									<td><img v-on:click="pickItem(22)" src="data/img/item/combined_items/c15.png" />
									</td>
									<td><img v-on:click="pickItem(29)" src="data/img/item/combined_items/c22.png" />
									</td>
									<td><img v-on:click="pickItem(35)" src="data/img/item/combined_items/c28.png" />
									</td>
									<td><img v-on:click="pickItem(37)" src="data/img/item/combined_items/c30.png" />
									</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td><img v-on:click="pickItem(4)" src="data/img/item/base_items/b5.png" /></td>
									<td><img v-on:click="pickItem(31)" src="data/img/item/combined_items/c24.png" />
									</td>
									<td><img v-on:click="pickItem(43)" src="data/img/item/combined_items/c36.png" />
									</td>
									<td><img v-on:click="pickItem(12)" src="data/img/item/combined_items/c5.png" /></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td><img v-on:click="pickItem(2)" src="data/img/item/base_items/b3.png" /></td>
									<td><img v-on:click="pickItem(14)" src="data/img/item/combined_items/c7.png" /></td>
									<td><img v-on:click="pickItem(39)" src="data/img/item/combined_items/c32.png" />
									</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td><img v-on:click="pickItem(6)" src="data/img/item/base_items/b7.png" /></td>
									<td><img v-on:click="pickItem(13)" src="data/img/item/combined_items/c6.png" /></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</table>
							<div v-if="itemPickedIsCombind || itemPickedIsBase">
								<h1>Thông tin chi tiết trang bị</h1>
								<div class="base-item" v-if="itemPickedIsBase">
									<div style="min-height: 70px;">
										<div class="col-md-2" style="text-align: center">
											<img v-bind:src="itemPickedDisplayData.img" />
										</div>
										<div class="col-md-10">
											<h3 style="margin-top: 0px">{{itemPickedDisplayData.name}}</h3>
											<p>{{itemPickedDisplayData.description}}</p>
										</div>
									</div>
									<div>
										<table class="table" style="margin-top: 20px">
											<tr>
												<th width="20%">Công thức</th>
												<th colspan="2">Trang bị hợp thành</th>
											</tr>
											<tr v-for="item in itemPickedDisplayData.citem">
												<td>
													<!-- <img v-bind:src="arrItem[arrItem[item].bitem[0]].img"/>
									<img v-bind:src="arrItem[arrItem[item].bitem[1]].img"/> -->
													<img v-for="item2 in arrItem[item].bitem"
														v-on:click="pickItem(arrItem[item2].id -1)"
														v-bind:src="arrItem[item2].img" />
												</td>
												<td width="15%">
													<img v-on:click="pickItem(arrItem[item].id -1)"
														v-bind:src="arrItem[item].img" />
												</td>
												<td>
													{{arrItem[item].description}}
												</td>
											</tr>
										</table>
									</div>
								</div>
								<div class="combinded-item" v-if="itemPickedIsCombind">
									<h3>{{itemPickedDisplayData.name}}</h3>
									<div style="text-align: center">
										<div>
											<img v-bind:src="itemPickedDisplayData.img" />
										</div>
										<!-- <canvas id="myCanvas" width="100" height="50" ></canvas> -->
										<img style="border: none" src="data/img/line_tree.png" />
										<div class="item_recipe">
											<img v-for="item in itemPickedDisplayData.bitem"
												v-on:click="pickItem(arrItem[item].id -1)"
												v-bind:src="arrItem[item].img" />
											<!-- <img v-on:click="pickItem(arrItem[itemPickedDisplayData.bitem[1]].id -1)" v-bind:src="arrItem[itemPickedDisplayData.bitem[1]].img"/> -->
										</div>
									</div>
									<div>
										<h4>Chỉ số</h4>
										<p v-for="item in itemPickedDisplayData.bitem">{{arrItem[item].stat}}</p>
										<p>{{itemPickedDisplayData.description}}</p>
										<!-- {{itemPickedDisplayData.description}} -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- <h2 class="text-center">Tướng</h2> -->
			</div>
		</div>
	</div>
	</div>
	<footer>
		<h1 class="text-center">Made by hieutuko - created by vuejs</h1>
		<h1 class="text-center">Contact : <a href="https://www.facebook.com/hieunt95">fb.com/hieunt95</a></h2>
	</footer>
	<script>
		var data1 = data_hero;
		var data_item = data_item;
		// var itemPickedIsBase = false;
		// var itemPickedIsCombind = false;
		// console.log(data1);
		var app = new Vue({
			el: '#app',
			data: {
				heroes: [
					{
						heroId: -1,
						tier: 0,
						avartar: "",
					},
					{
						heroId: -1,
						tier: 0,
						avartar: "",
					},
					{
						heroId: -1,
						tier: 0,
						avartar: "",
					},
					{
						heroId: -1,
						tier: 0,
						avartar: "",
					},
					{
						heroId: -1,
						tier: 0,
						avartar: "",
					},
					{
						heroId: -1,
						tier: 0,
						avartar: "",
					},
					{
						heroId: -1,
						tier: 0,
						avartar: "",
					},
					{
						heroId: -1,
						tier: 0,
						avartar: "",
					},
					{
						heroId: -1,
						tier: 0,
						avartar: "",
					}
				],
				classPassive: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0
					//   {assassin:0},
					//   {blademaster:0},
					//   {brawler:0},
					//   {elementalist:0},
					//   {guardian:0},
					//   {gunslinger:0},
					//   {knight:0},
					//   {ranger:0},
					//   {shapeshifter:0},
					//   {sorcerer:0}
				],
				specific: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
					//   {demon:0},
					//   {dragon:0},
					//   {exile:0},
					//   {glacial:0},
					//   {robot:0},
					//   {imperial:0},
					//   {noble:0},
					//   {ninja:0},
					//   {pirate:0},
					//   {phantom:0},
					//   {wild:0},
					//   {void:0},
					//   {yordle:0}
				],
				itemPickedIsBase: false,
				itemPickedIsCombind: false,
				itemPickedDisplayData: {},
				arrItem: data_item,
				displayBuffNonactive: false
			},
			methods: {
				addData: function (index, i_class, i_specific) {
					var newSynergy = [];
					var newHero = {
						heroId: index,
						tier: data1[index].tier,
						avartar: data1[index].avatar,
						cId: data1[index].cId,
						sId: data1[index].sId,
					}
					for (var i = 0; i < this.heroes.length; i++) {
						if (this.heroes[i].heroId != -1) {
							newSynergy.push(this.heroes[i]);
						}
					}
					let obj = newSynergy.find(o => o.heroId === index);
					if (newSynergy.length < 9 && obj === undefined) {
						newSynergy.push(newHero);
						if (Array.isArray(i_class)) {
							// console.log('multi specific');
							for (var i = 0; i < i_class.length; i++) {
								this.classPassive[i_class[i]] = this.classPassive[i_class[i]] + 1;
							}
						}
						else {
							this.classPassive[i_class] = this.classPassive[i_class] + 1;
						}
						// console.log(this.class);
						if (Array.isArray(i_specific)) {
							// console.log('multi specific');
							for (var i = 0; i < i_specific.length; i++) {
								this.specific[i_specific[i]] = this.specific[i_specific[i]] + 1;
							}
						}
						else {
							this.specific[i_specific] = this.specific[i_specific] + 1;
						}
						console.log(this.specific);
					}
					this.updateData(newSynergy);
				},
				removeData: function (index, i_class, i_specific) {
					var arr = this.heroes;
					var removeSynergy = arr.splice(index, 1);
					// this.class[i_class] = this.class[i_class]-1;
					if (Array.isArray(i_class)) {
						// console.log('multi class');
						for (var i = 0; i < i_class.length; i++) {
							this.classPassive[i_class[i]] = this.classPassive[i_class[i]] - 1;
						}
					}
					else {
						this.classPassive[i_class] = this.classPassive[i_class] - 1;
					}
					// console.log(this.class);
					if (Array.isArray(i_specific)) {
						// console.log('multi specific');
						for (var i = 0; i < i_specific.length; i++) {
							console.log(i_specific[i]);
							this.specific[i_specific[i]] = this.specific[i_specific[i]] - 1;
						}
					}
					else {
						this.specific[i_specific] = this.specific[i_specific] - 1;
					}
					console.log(this.specific);
					this.updateData(arr);
				},
				updateData: function (array) {
					let nullHero = {
						heroId: -1,
						tier: 0,
						avartar: "",
					}
					let loopNumber = 9 - array.length;
					for (var i = 0; i < loopNumber; i++) {
						array.push(nullHero);
					}
					this.heroes = array;
				},
				pickItem: function (id_item) {
					let itemPicked = data_item[id_item];
					console.log(itemPicked);
					this.itemPickedDisplayData = itemPicked;
					if (itemPicked.type == "base") {
						this.itemPickedIsBase = true;
						this.itemPickedIsCombind = false;
					}
					else if (itemPicked.type == "combinedItem") {
						this.itemPickedIsBase = false;
						this.itemPickedIsCombind = true;
					}
				},
				showBuffNonactive: function () {
					this.displayBuffNonactive = !this.displayBuffNonactive;
				},
			}
		})
	</script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143353602-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-143353602-1');
	</script>

</body>

</html>